packet:
  Algebra: []
  Combinatorics: []
  Geometry: []
  Number Theory: []
test:
  [% if day 1 %]
  1: []
  [% endif %]
  [% if day 2 %]
  2: []
  [% endif %]
  [% if day 3 %]
  3: []
  [% endif %]
