output/
packet/data-*.tex
packet/uniqauthor.txt
final-report/author-table.tex
final-report/comments.tex
final-report/table.tex
test/problems-*.tex
test/solutions-*.tex

pythontex_data.pkl
**.aux
**.fdb_latexmk
**.fls
**.log
**.out
**.pdf
**.pre
**.pytxcode
**.pytxmcr
**.pytxpyg
**.synctex.gz
**.toc

**-[0-9].asy
**-[0-9][0-9].asy
