% You can edit this file directly for quick iteration, but keep in mind that
% running `make test` will overwrite the contents! Copy the changes back to the
% original file in the source/ folder to save.
\section{Solutions to Day {{ day }}}
{% for problem in problems %}
\subsection{Solution to \shorttestname\ {{ problem.chosen }}, by {{ problem.author }}}
{{ problem.prob }}
\bigskip\hrulebar\bigskip
{{ problem.sol }}
{% if not loop.last %}
\newpage
{% endif %}
{% endfor %}