\documentclass[11pt]{scrartcl}
\usepackage[sols,brave]{TST}

% The name that appears in the section header "Solution to ___ n"
\newcommand{\shorttestname}{[[test_short_name]]}

\begin{document}

\title{[[test_name]] Solutions}
\subtitle{[[test_short_name]]}
\author{[[author_name]]}
\date{[[test_date]]}
\maketitle

\tableofcontents

\cleardoublepage

\input{solutions-1}

\newpage

\input{solutions-2}

\end{document}