\title{[[test_short_name]] for [[test_name]] Packet}
\author{[[author_name]]}
\date{Updated \today, \currenttime. \\ Deadline: \deadline.}

\newcommand{\numreceived}{[[num_problems_received]]}
\newcommand{\thankedauthors}{%
\input{uniqauthor.txt}
}

\newcommand{\submitURL}{\url{[[submit_url]]}}
\newcommand{\deadline}{[[submission_deadline]]}
