\documentclass[11pt]{scrartcl}
\usepackage[sols,brave]{TST}

% The name that appears in the section header "Solution to ___ n"
\newcommand{\shorttestname}{[[test_short_name]]}

\begin{document}

\title{[[test_name]] Solutions}
\author{[[solution_packet_authors]]}
\date{[[solution_packet_date]]}
\maketitle

\tableofcontents

\cleardoublepage

[% if day1 %]
\input{solutions-1}
[% endif %]
[% if day2 %]
\input{solutions-2}
[% endif %]
[% if day3 %]
\input{solutions-3}
[% endif %]

\end{document}
