\documentclass[11pt]{scrartcl}
\usepackage{natoly}
\newtheorem{problem}{Problem}

\title{[[test_name]]}
\author{[[author_name]]}

\newcommand{\timelimit}{\emph{Time limit}: 4.5 hours.
If you need to add page headers after the time limit,
you must do so under proctor supervision.
Proctors may not answer clarification questions.

You may keep the problems, but they should not be posted
until next Monday at noon Eastern time.
\par\bigskip}

\begin{document}

%%fakesection Day 1
\dayinfo{Day I \qquad 1:15pm -- 5:45pm}
\date{TBD}
\maketitle
\timelimit

\input{problems-1}

\newpage

%%fakesection Day 2
\dayinfo{Day II \qquad 1:15pm -- 5:45pm}
\date{TBD}
\maketitle
\timelimit

\input{problems-2}

\end{document}
