% You can edit this file directly for quick iteration, but keep in mind that
% running `make test` will overwrite the contents! Copy the changes back to the
% original file in the source/ folder to save.
{% for problem in problems %}
\begin{problem}
{{ problem.prob }}
\end{problem}
{% endfor %}