\documentclass[11pt]{scrreprt}
\usepackage[sexy]{evan}

\usepackage{pdfpages}
\usepackage{booktabs}
\usepackage{cancel}

\usepackage{tikz}
\usepackage{pgfplots}
\pgfplotsset{compat=1.17}

\begin{document}
\title{[[test_name]] Final Report}
\subtitle{Selection for [[selection_context]]}
\author{[[author_name]]}
\maketitle

\tableofcontents

\chapter{Comments from the house}
Thanks to the group of reviewers for this packet:

\lstinputlisting[numbers=none,basicstyle=\ttfamily\footnotesize]{../packet/reviewers.txt}

The comments here are based on those submitted by the reviewers,
but also greatly influenced by comments from [[additional_reviewers]].

\input{comments}

\chapter{Reviewer scores}
\setlength\tabcolsep{5pt}
\input{table}

\chapter{Selection report}
\chapter{Problems}
Congratulations to the authors:
\input{author-table}

Here is our description of the ``subject classification''.


\begin{center}
  \begin{tabular}[h]{c rrrr}
    \toprule
    & Alg & Com & Geo & NT \\
    \midrule
    ?-?? &      &      &      &      \\
    \midrule
    $\sum$  &      &      &      &      \\
    \bottomrule
  \end{tabular}
\end{center}

The typeset problems and solutions are included in the following pages.

%% TODO: uncomment these lines
% \includepdf[pages={-}]{../test/final-probs.pdf}
% \includepdf[pages={-}]{../test/final-solns.pdf}

\end{document}
